input, textarea {
  background-color: var(--input-base);
  color: var(--input-placeholder);
  appearance: none;
  width: 100%;
  border: 2px solid var(--input-stroke);
  border-radius: .5rem;
  resize: none;

  padding: 1rem 1rem;

  font: var(--body-md-regular);
  
  &::-webkit-input-placeholder {
    color: var(--input-placeholder);
  }
}

label {
  font: var(--body-sm-regular);
  color: var(--text-body);

  display: block;
  margin-bottom: .75rem;
}

input:focus,
textarea:focus {
  outline: .125rem solid var(--brand-light);
  border: none;
}

input[type="date"] {
  &::-webkit-calendar-picker-indicator {
    display: none;
  }
}

#about-event .flex {
  gap: 1rem;
}
