* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Leckerli One */
  --font-leckerli: "Leckerli One", cursive;
  --logo: 400 2.5rem var(--font-leckerli);

  /* Baloo 2 */
  --font-baloo-2: "Baloo 2", sans-serif;
  --heading-md: 700 1.75rem var(--font-baloo-2);
  --heading-sm: 700 1.125rem var(--font-baloo-2);

  /* Open Sans */
  --font-open-sans: "Open Sans", sans-serif;
  --body-md-regular: 400 1rem var(--font-open-sans); 
  --body-md-semibold: 600 1rem var(--font-open-sans); 

  --body-sm-regular: 400 0.875rem var(--font-open-sans); 
  --body-sm-semibold: 600 0.875rem var(--font-open-sans); 

  --body-xs-regular: 400 0.75rem var(--font-open-sans); 
  --body-xs-semibold: 600 0.75rem var(--font-open-sans); 

  /* Brand */
  --brand-light: #59B2FF;
  --brand-mid: #3487CF;
  --brand-dark: #1D6FB6;

  /* Accent Colors */
  --purple: #B259FF;
  --fuschia: #FF59F9;
  --pink: #FF598B;
  --orange: #FF8B59;
  --yellow: #FFCD59;
  --lime: #E1FF59;
  --green: #59FF91;
  --cyan: #59FFFF;
  --navy: #6A59FF;

  /* Feedback */
  --danger: #FF5959;

  /* Input */
  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198;

  /* Shape */
  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2D3136;
  --shape-hover: #383D42;

  /* Text */
  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;
}